<footer>
   
    <div class="redes-sociales">
      <span class="seguinos">¡Seguinos!</span>
    
    <div class="img">
      <a  href="#"><img class="instagram" src="/images/redes-sociales/instagram-f.png" alt="Instagram Community Electro"></a>
      <a  href="#"><img class="facebook"  src="/images/redes-sociales/facebook-f.png" alt=" Facebook Community Electro"></a>
      <a  href="#"><img class="twitter"  src="/images/redes-sociales/twitter-f.png" alt="Twitter Community Electro"></a>
    </div>
    </div>
    
    <div class="atencion-cliente">
    
    <div class="contacto">
      <p>¿Tenes alguna duda?</p>
      <p>Nosotros te ayudamos</p>
    </div>
    <div class="atencion">
         <p><i class="fas fa-paper-plane"></i>Atencion al cliente</p>
         <a href="#">communityElectro@gmail.com</a>
    </div>
    <div class="telefono">
      <p><i class="fas fa-phone-alt"></i>Venta telefonica</p>
         <a href="#">1191234567</a>
         
    </div>
    </div>
    
    <div class="logo-copy">
      <img class="logo" src="/images/home/Logo C-E.png" alt="Logo Community Electro">
      <p class="copy">Los precios expresados incluyen IVA - Las fotografias son a modo ilustrativo - CommunityElectro se reserva el derecho de modificar los precios promocionados.</p>
      <p class="copy"><i class="far fa-copyright"></i>COMMUNITY ELECTRO 2021. Todos los derechos reservados.</p>
    </div>
    </div>
    
  </footer>