.login main{
  background-color: var(--colorGris);
  padding-bottom: 30px;
}

/* titulo del fomulario */
.login main h4{
  padding-top: 30px;
  text-align: center;
  font-size: 17px;
  color: black;
  font-weight: 700;
}

/* contenedor formulario */
.login main .box-contain {
      width: 80%;
      margin: 0 auto;
      max-width: 375px;
}

/* p input */
.login main .box-contain p{
  margin: 30px 0 3px ;
  font-size: 12px;
  color: black;
  font-weight: 700;
}

/* input */
.login main .box-contain input.text{
  width: 100%;
  border: none;
}

/* contenedor button */
.login main .box-contain .box-button{
  display: flex;
  justify-content: space-between;
}

/* button */
.login main .box-contain .box-button .btn-registro ,.btn-ingresar{  
  border: none;
  padding: 0px 15px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 14px;
}

.login main .box-contain .box-button .btn-registro{
  background-color: var(--colorGrisOscuro);
  color: black;
  font-weight: 700;
}

.login main .box-contain .box-button .btn-ingresar{
  background-color: var(--colorCeleste);
  color: black;
  font-weight: 700;
}

/* contenedor carrousel */
.login main .box-carrousel{
  display: none;
}

@media (min-width: 768px){
  
  /* titulo del fomulario */
  .login main h4{
      font-size: 22px;
  }

  /* p input */
  .login main .box-contain p{
      font-size: 15px;
  }

  /* button */
  .login main .box-contain .box-button .btn-registro, .btn-ingresar{
      font-size: 17px;
  }

  /* contenedor carrousel */
  .login main .box-carrousel {
    display: block;
    width: 70%;
    margin: 30px auto 0;
}

  /*img carrousel */
  .login main .box-carrousel .banner img{
    height: 300px;
    }

}

@media (min-width: 1024px){
  .login main {
    display: flex;
    flex-direction:row-reverse
  }
  
  /*img carrousel */
  .login main .box-carrousel .banner img{
    height: 250px;
  }

  /* contenedor carrousel */
   .login main .box-carrousel {
    
    width: 45%;
 
  }  
}